<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дорожные решения</title>
    <link rel="stylesheet" href="menu_tab_css.css" type="text/css">
	
</head>
<body>
		<div id="menu_bar">
			<div id="triangle-topleft"></div>
			<div id="rectangle"></div>
			<div id="rectangle1"></div>
			<div id="title">Дорожные<br/> решения</div>
		<div id="vertical_menu_components"font-family="Trebuchet MS" Sans-serif color="white">м<br/>е<br/>н<br/>ю</div>
			<div id="menu">
				<div class="menu_components"><form action="main_page.html">
				<button type="submit" class="m_button">Главная</button>
				</form></div>
				<div class="menu_components" font-family="Trebuchet MS" Sans-serif><form action='map.html'>
				<button type="submit" class="m_button" id="map_b">Карта</button>
				</form></div>
				<div class="menu_components"><form action='map.html'>
				<button type="submit" class="m_button">Подать жалобу</button>
				</form></div>
				<div class="menu_components"><form action='map.html'>
				<button type="submit" class="m_button">Открытые данные</button>
				</form></div>
				<div class="menu_components"><form action='map.html'>
				<button type="submit" class="m_button">О проекте</button>
				</form></div>
			</div>
		</div>
</body>
</html>